* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body { background-color: black; }

  #canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    /* background: blue; */
    transform: translate(-50%, -50%);
  }